/*
 * Responsive HTML5/CSS3 template
 * http://webcodebuilder.com/examples/responsive-html5css3-template/index.html
 *
 * Copyright 2012, WebCodeBuilder
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
@media all{
	body{
		font:14px Arial, Helvetica, sans-serif;
		margin:0;
		background:#F5F5F5;
		width:100%;
		color:#444444;
	}
	a{
		color:#466087;
		text-decoration:underline;
	}
	a:hover { text-decoration:none;}
	section, header,footer,nav { display:block;}
	img{
		border:0;
		vertical-align:top;
		max-width:100%;
	}
	form,
	fieldset{
		border:0;
		padding:0;
		margin:0;
	}
	h1{
		font:4.285em/1.067em 'PT Sans', Arial, Helvetica, sans-serif; /*60px/64px*/
		margin:1 0 0.167em;
		text-align:center;
		color:#000;
		//text-shadow:0px 1px 1px rgba(255,255,255,0.5);
		color: #101619;   						// <--------------- ÜBERSCHRIFT
	}
	h2 {
		font:1.714em/1.125em Arial, Helvetica, sans-serif; /*24px/27px*/
		color:#fff;
		text-align:center;
		margin:0 0 0.417em;
		//text-shadow:0px 1px 1px rgba(255,255,255,0.5);
	}
	h3 {
		font:1.285em/1.167em 'Nunito', Arial, Helvetica, sans-serif; /*18px/21px*/
		margin:0 0 0.55em;
		text-align:center;
	}
	.subHeading{
		display:block;
		font:2.357em/1.151em 'PT Sans', Arial, Helvetica, sans-serif; /*33px/38px*/
		margin:0 0 1em;
		text-align:center;
		color:#B1B3B4;      					// <---------  ZWEITE ÜBERSCHRIFT
		//text-shadow:0px 1px 1px rgba(255,255,255,0.5);
	}
	ul {
		padding:0;
		margin:0;
		list-style:none;
	}
	section ul,
	article ul{
		margin:0 0 0.5em;
	}
	section li,
	article li{
		padding:0 0 0.5em 1.5em;
		background:url(data:image/gif;base64,R0lGODlhBQAEALMKAKqqqoSEhGdnZ2FhYaioqE5OTpycnH9/f6CgoERERP///wAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpBQTFENDlGQjhEOEExMUUxQTg2MEI5NEQzNjZDMEM0OSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpBQTFENDlGQzhEOEExMUUxQTg2MEI5NEQzNjZDMEM0OSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkFBMUQ0OUY5OEQ4QTExRTFBODYwQjk0RDM2NkMwQzQ5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkFBMUQ0OUZBOEQ4QTExRTFBODYwQjk0RDM2NkMwQzQ5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAACgAsAAAAAAUABAAABA1QhXIUSBgRnIwSyaBEADs=) no-repeat 5px 0.5em;
	}
	.grey li,
	.grey article li{background-image: url(data:image/gif;base64,R0lGODlhBQAEALMKAOjq7Pf4+c3Q1bK3v7C2vri9xOTm6NHV2bu/xv///////wAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxQzkyMEI5NThEOEUxMUUxODRBMkFBNDBDMzA3OEE5RiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxQzkyMEI5NjhEOEUxMUUxODRBMkFBNDBDMzA3OEE5RiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFDOTIwQjkzOEQ4RTExRTE4NEEyQUE0MEMzMDc4QTlGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFDOTIwQjk0OEQ4RTExRTE4NEEyQUE0MEMzMDc4QTlGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAACgAsAAAAAAUABAAABA1QiXAUSbgMnJAyCaBEADs=);}
	p {margin:0 0 1em;}
	blockquote {
		margin:0 0 1em;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAYAAAD6Ud/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjZERkIxNTE4RDcyMTFFMTlGMjFGRDNGOTMwN0RFRUYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjZERkIxNTI4RDcyMTFFMTlGMjFGRDNGOTMwN0RFRUYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGNkRGQjE0RjhENzIxMUUxOUYyMUZEM0Y5MzA3REVFRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGNkRGQjE1MDhENzIxMUUxOUYyMUZEM0Y5MzA3REVFRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrtCTg8AAADjSURBVHjarJQBDcMgEEUZqQEsYGGVgIVOQidhFmaBWUDCKmFIWC1UQscld8mFMBi3XvKTEuDecffTk/deVcImuaSQtClZnEG6svlMeifdhZAJ77+g2KFwYMbkBteLAAL3b2wdh0IV1Et4xUUA4pCIOVYOMhlkhAOdEJdBRtrQWSXUrqsAogrdUDnI4GwUAoJw+Ba/Q16oZgageAhtPNVyaNZb9YfLOGjD+TRB4PsdNXeYgJtqZ7IEspUE8UfQtxwbzeookGnd1/i7KcXS+T+r5tAHvKb2opWDXOtQpxmKxX4EGADGDjXSDl7KfgAAAABJRU5ErkJggg==) no-repeat;
		font-size:1.143em;
		line-height:1.25em;
		font-style:italic;
		color:#444;
	}
	q {
		quotes:none;
		display:block;
		padding:1.5em 1em 0 40px;
	}
	q:before { content:"";}
	q:after { content:"";}
	cite {
		display:block;
		text-align:right;
	}
	dl{ margin:0 0 10px;}
	dt {font-weight:bold;}
	dd { margin:0 0 10px 20px;}
	form,
	fieldset {
		padding:0;
		margin:0;
		border:0;
	}
	.center {
		max-width:960px;
		width:100%;
		margin:0 auto;
	}
	.hidden{display:none;}
	.box-main:after,
	.center:after {
		content:"";
		clear:both;
		display:block;
	}
	.right { float:right;} 
	.left { float:left;}
	.alignLeft{
		float:left;
		margin-right:1em;
	}
	.alignRight{
		float:right;
		margin-left:1em;
	}
	.fullWidth{width:100%;}
	.fullWidth img{width:100%;}
	.row{
		width:100%;
		background:#F5F5F5;    				// <----- BACKGROUND 
		padding:2.857em 0;
	}
	.row:after{
		content:"";
		display:block;
		clear:both;
	}
	.grey{
		background:#fff;                 // <------------ BACKGROUND SEKTION 1
		color:#B1B3B4;
		border-bottom:1px solid #f6f6f6;
		border-top:1px solid #f6f6f6;
		
		/*
		-moz-box-shadow:   	inset 0 6px 6px -6px rgba(0,0,0,0.75),
							inset 0 -6px 6px -6px rgba(0,0,0,0.75);
		-webkit-box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.75),
							inset 0 -6px 6px -6px rgba(0,0,0,0.75);
		box-shadow:         inset 0 6px 6px -6px rgba(0,0,0,0.75),
							inset 0 -6px 6px -6px rgba(0,0,0,0.75);

							*/
							
	}
	.grey h1{
		color:#101619;
	//	text-shadow:0 1px 2px rgba(0,0,0,0.5);
	}
	.grey h2{
	//	text-shadow:0 1px 2px rgba(0,0,0,0.5);
	}
	.grey .subHeading{
		color:#BABABA;
	//	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	}
	.grey a{color:#101619;}   //  <---------  ÜBERSCHRIFT 2 SEKTION
	.btn{
		position:relative;
		display:inline-block;

		font:1.714em/2.375em Arial, Helvetica, sans-serif;
		//border:1px solid #d6d6d6;
		background:#dedede;
		text-decoration:none;
		font-weight:bold;
		cursor:pointer;
		width:auto;
		margin:0 -2px;
		overflow:visible;
		
		-webkit-border-radius: 1.67em;
		-moz-border-radius: 1.67em;
		border-radius: 1.67em;
		
		-webkit-transition: background 0.5s ease;
		-moz-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		transition: background 0.5s ease;
	}
	* +html .btn{margin:0;}
	.btn span{
		color:#101619;
		padding:0 1.25em;
		display:block;
		text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);
		
		-moz-box-shadow:   	inset 0 0px 3px rgba(255,255,255,255.75);
		-webkit-box-shadow: inset 0 0px 3px rgba(255,255,255,0.75);
		box-shadow:         inset 0 0px 3px rgba(255,255,255,0.75);
							
		-webkit-border-radius: 1.25em;
		-moz-border-radius: 1.25em;
		border-radius: 1.25em;
	}
	.btnSmall{
		padding:0em;
		text-decoration:none;
		font-size:1.214em;
		line-height:2.35em;
		background:#41484D;
		font-weight:bold;
		border:0px solid #505a68;
	

		-webkit-border-radius: 1.47em;
		-moz-border-radius: 1.47em;
		border-radius: 1.47em;
		
		-webkit-transition: background 0.5s ease;
		-moz-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		transition: background 0.5s ease; 
			
		-moz-box-shadow:   	0 1px 1px rgba(255,255,255,0.36);
		-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
		box-shadow:         0 1px 1px rgba(255,255,255,0.36);

		
	}
	.btnSmall span{
		color:#fff;
		text-decoration:none;
		padding:0 1.47em;
		display:block;
		text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);
		
		border:0px solid #566270;
		background:#606a78;


	}
	.btn:hover {
		background:#1b4648;
		background:rgba(0,0,0,0.2);
	}
	.btnSmall:hover {
		background:none;
	}
	.btnSmall:hover span{
		background-image: linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
		background-image: -o-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(109,131,164)),
			color-stop(1, rgb(169,199,241))
		);
	}
	.btn:active{
		top:1px;
	}
	.btn:hover span,
	.btn:active span{
		color:#fff;
	}
	.btnGreen span{

		background:#F5F5F5;					// <<------------ TWITTER BACkGROUND
		



	}
	.btnBlue span{
		background:#F5F5F5;  				 // <<------------ TWITTER BACkGROUND


		

))
		);
	}
	.formRow{
		width:100%;
		margin:0 0 1.5em;
	}
	.formRow:after{
		content:"";
		display:block;
		clear:both;
	}
	.textField{
		width:100%;
		overflow:hidden;
		border:1px solid #505a68;
		background:#798493;
		font-weight:bold;
		padding:0.5em;
		
		-webkit-border-radius: 2em;
		-moz-border-radius: 2em;
		border-radius: 2em;
				
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box; 
		
		-moz-box-shadow:   	0 1px 1px rgba(255,255,255,0.36);
		-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
		box-shadow:         0 1px 1px rgba(255,255,255,0.36);
	}
	input,
	textarea{
		display:block;
		background:#fff;
		font:1em/1.214em Arial, Helvetica, sans-serif;  /*14px/17px*/
		color:#444;
		width:100%;
		padding:0.75em 1.5em;
		border:1px solid #505762;
		margin:0;
		
		resize:none;
		
		-moz-box-shadow:   	inset 0 0px 3px rgba(0,0,0,0.75);
		-webkit-box-shadow: inset 0 0px 3px rgba(0,0,0,0.75);
		box-shadow:         inset 0 0px 3px rgba(0,0,0,0.75);
		
		-webkit-border-radius: 1.5em;
		-moz-border-radius: 1.5em;
		border-radius: 1.5em;
				
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	textarea {
		overflow:auto;
		height:10.812em;
	}
	* +html input,
	* +html textarea,
	* +html .textField{
		width:99%;
		padding:0;
	}
	::-webkit-input-placeholder {
		color:    #444;
	}
	:-moz-placeholder {
		color:    #444;
	}
	.columns{width:100%	}
	.columns:after{
		content:"";
		display:block;
		clear:both;
	}
	.columns > div,
	.columns > article{
		float:left;
		vertical-align:top;
	}
	.columns h2{text-align:left;}
	.half{
		width:48.0%;
		margin:1.3%;
	}
	.oneThird{
		width:32%;
		margin:1%;
	}
	.columns > div:first-child,
	.columns > article:first-child{margin-left:0;}
	.oneThird +.oneThird +.oneThird,
	.threeForth + .oneForth,
	.oneForth + .half,
	.half + .half,
	.half + .oneForth + .oneForth,
	.last{
		float:right;
		margin-right:0;
	}
	.oneForth{width:25%;}
	.threeForth{width:74.5%;}
	.buttons{
		width:100%;
		overflow:hidden;
		text-align:center;
		margin:2.5em 0 0
	}
	.buttons > span{
		background:url(../img/sep-vert.gif) no-repeat 50% 50%;
		display:inline-block;
		font-size:1.714em;
		line-height:1.125em;
		padding:1em 0.75em;
		margin:0 -1px 0 -2px;
		background:#;
	}
	* +html .buttons > span{margin:0 20px;}
	.buttons > span em{
		font-style:normal;
		display:block;
		background:#eaeaea;
	}
	.imgHolder{
		display:inline-block;
		padding:1px;
		background:#fff;
		border:0px solid #cecece;
		margin-bottom:1em;
		max-width:100%;
		overflow:hidden;
		
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	* +html .imgHolder{
		max-width:93.5%;
		border-width:3%;
		padding:0;
	}
	.imgHolder img{display:block;}
	.grey .imgHolder{
		border-color:#646e7d;
	}
	/*main styles*/
	#pagewidth {width:100%;}
	#header{
		position: fixed;
		z-index:100;
		left: 0;
		top: 0;
		height:49px;
		width:100%;
		overflow:hidden;
		padding:1.143em 0;
		background:#;   //  <---------------- HEADER BACKGROUND 
		

	}
	#content{padding:82px 0 0;}
	#mainNav{text-align:center;}
	#mainNav li{
		display:inline-block;
		margin:0 7px;
	}
	#mainNav a{
		color:#fff;
		position:relative;
		display:inline-block;
		
		text-decoration:none;
		font-size:1.214em;
		line-height:2.35em;
		background:#fff;
		font-weight:bold;
		
-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		border-radius: 0.5em;

	}
	#mainNav a span{
		color:#41484D;
		text-decoration:none;
		padding:0 1.25em;
		display:block;
		
		border:4px solid #41484D;
		background:#;         // <-------------------- BUTTON BACKGROUND


		

	}
	#mainNav a:active{
		top:1px;
	}
	#mainNav a:hover span ,
	#mainNav li.active span {
		color:#101619;				// <-------------------- BUTTON TEXTCOLOR
		text-decoration:none;
		padding:0 1.25em;
		display:block;
		
		border:0px solid #;
		background:#F5F5F5;
	}
	.gallery{
		background:url(../img/sep-hor.gif) no-repeat 50% 0;
		padding:2px 0;
		position:relative;
		margin:0 auto;
		width:81.25%;
		position:relative;
	}
	.gallery:after{
		content:"";
		position:absolute;
		bottom:0;
		left:0;
		background:url(../img/sep-hor.gif) no-repeat 50% 0;
		width:100%;
		height:2px;
	}
	.news > div{
		// border:1px solid #505a68;
		position:relative;
		padding:0 0 50px;
		margin:0 0 30px;
		height:1%;
	}
	.news > div:after{
		content:"";
		display:block;
		clear:both;
	}
	.news h3{
		font-size:1.714em;
		line-height:2.583em;
		text-align:center;
		margin:0 0 0.83em;
		border-top:0px solid #fff;
		border-bottom:0px solid #fff;
		// background:#5d6a7c;
		

	}
	.news h3 a{
		display:block;
		text-decoration:none;
		//text-shadow:0 1px 2px rgba(0,0,0,0.5);
		color: #41484D;
	}
	.news .content{
		width:83%;
		overflow:hidden;
		margin:0 auto;
	}
	.news .readMore{
		position:absolute;
		top:100%;
		margin:-2.143em 0 0;
		width:100%;
		text-align:center;
	}
	.slides{
		list-style:none;
		overflow:hidden;
		padding:0;
		width:100%;
	}
	.slides li{
		padding:0;
		display: none;
		position:relative;
		background:url(../img/sep-vert.gif) no-repeat 50% 50%;
	}
	* +html .slides li{
		display:inline;
		zoom:1;
		margin:0;
	}
	.slides blockquote{
		float:right;
		width:48%;
		margin:2.5em 0 0;
	}
	.slides blockquote:first-child{float:left;}
	#map{
		border:1px solid #535d6b;
		padding:0.428em;
		background:#798493;
		margin:0 0 1em;
	}
	#map .imgHolder{
		height:1%;
		overflow:hidden;
		background:#fff;
		padding:1px;
		border:0;
		margin:0;
		display:block;
	}
	#map .imgHolder img{
		width:100%;
	}
	.form{width:92%;}
	#testimonials{
		margin-top:-2.857em;
	}
	#testimonials .row{
		padding:0;
		background:url(../img/sep-hor.gif) no-repeat 50% 1.5em;
	}
	#testimonials .row:first-child{
		background:none;
	}
	#testimonials{background:none;}
	#testimonials:after{display:none;}
	#footer{
		width:100%;
		overflow:hidden;
		padding:24px 0;
		color:#fff;
		line-height:16px;
	}
	#footer a{
		color:#fff;
	}
	#footer .copy{float:right;}
	#message p{margin: 0;}
	.error_message{
		padding: 5px 10px!important;
		border-width: 2px !important;
		background:rgba(247,0,0,0.5) !important;
		margin: 0 0 15px;
	}
	.ok_message{
		padding: 10px 15px!important;
		background:rgba(57,143,20,0.5) !important;
		margin: 0 0 15px;
	}
}
@media all and (max-width: 1024px){
}
@media all and (max-width: 960px){
	.center{
		padding:0 10px;
		width:auto;
	}
	.buttons{font-size:11px;}
	#header{
		padding:2px 0 0;
		height:0;
		overflow:hidden;
		position:static;
	}
	#content{padding:0;}
}
@media all and (max-width: 780px){
	body{font-size:13px;}
	.buttons{font-size:9px;}
	h1{font-size:3.5em;}
	.subHeading{font-size:2em;}
	.news h3{font-size:1.3em;}
}
@media all and (max-width: 504px){
	body{font-size:12px;}
	.columns > div,
	.columns > article{
		float:none;
		margin:0;
		width:100%;
	}
	.buttons{font-size:7px;}
	#testimonials li,
	#testimonials .row{
		background:none;
	}
	#testimonials blockquote{
		float:none;
		width:100%;
		position:relative;
	}
	#testimonials blockquote:after{
		background:url(../img/sep-hor.gif) no-repeat 50% 0;
		content:"";
		position:absolute;
		left:0;
		top:-18px;
		width:100%;
		height:2px;
	}
	#testimonials .row:first-child blockquote:first-child:after{display:none;}
	.flex-direction-nav{display:none;}
	h1{font-size:3em;}
	.subHeading{font-size:1.75em;}
}
@media all and (max-width: 320px){
	.buttons > span{display:none;}
	.buttons .btn{margin-top:0.5em;}
	.buttons{margin-top:2em;}
	h1{font-size:2.5em;}
	.subHeading{font-size:1.5em;}
	.news h3{font-size:1.25em;}
}
@media all
	and (min-device-width: 768px)
	and (max-device-width: 1024px){
	#header{
		padding:2px 0 0;
		height:0;
		overflow:hidden;
		position:static;
	}
	#content{padding:0;}
	
}