/*
 * Responsive HTML5/CSS3 template
 * http://webcodebuilder.com/examples/responsive-html5css3-template/index.html
 *
 * Copyright 2012, WebCodeBuilder
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
@media all and (max-width: 960px){
	#header{
		position: fixed;
		z-index:100;
		height:auto;
		max-height:84px;
		padding:1.143em 0;
	}
	#content{padding:60px 0 0;}
	#mainNav a{
		font-weight: normal;
		padding: 0;
		line-height: 1.5em;
		margin: 0 0 5px;
	}
	#mainNav span{
		padding: 0 0.7em;
	}
}
@media all and (max-width: 504px){
	#mainNav li{margin: 0 2px;}
	#mainNav a{font-size:1.1em;}
}